.hero
  &-bloks
    display: flex
  &__content
    flex-basis: 80%
    padding-left: 64px
  &__sidebar
    padding-left: 35px
    padding-right: 64px
.swiper
  width: 898px
  // height: 300px
  margin: 0
  &-slide
    &__image
      display: block
      width: 100%
    &__caption
      margin: 0
      display: flex
      justify-content: center
      font-size: 14px
      color: $light
      background: #05CDD9
      line-height: 2em
      padding-top: 5px
      padding-bottom: 5px
.sidebar
  &__title
    padding: 5px 10px
    font-family: 'Open Sans', sans-serif
    font-style: italic
    font-size: 18px
    line-height: 1.4
    color: white
    background: linear-gradient(to bottom, #b2ecee 0%,#0ECCD8 100%)
    margin-top: 12.06px
    margin-bottom: 18px
  &-menu
    line-height: 1.6
    &__item
      list-style: none
      padding-top: 7.2px
      padding-bottom: 7.2px
    &__link
      font-family: $fontSecondary
      text-decoration: none
      font-size: 14.4px
      color: #151414
      &:hover
        text-decoration: underline
        color: #008cba
      &:before
        content: '\f21e'
        display: block
        float: left
        padding-top: 2px
        margin-left: -2em
        font-family: 'fontawesome'
        font-size: 16px
        color: rgb(129, 241, 241)
  &__img
    width: 100%
    margin-bottom: 15px
  &__reviews
    margin-bottom: 15px
